[core]
    editor=vim
    autocrlf=input
    pager = delta
[diff]
    tool=vimdiff
    submodule=log
[merge]
    tool=vimdiff
    conflictstyle=zdiff3
[mergetool]
	keepBackup=false
[status]
    submodulesummary=1
[push]
	recurseSubmodules=check
    autoSetupRemote=true
[pull]
	rebase=false
[color]
    ui=true
[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true
