[core]
    editor=vim
    autocrlf=input
[diff]
    tool=vimdiff
    submodule=log
[merge]
    tool=vimdiff
    conflictstyle=diff3
[mergetool]
	keepBackup=false
[status]
    submodulesummary=1
[push]
	recurseSubmodules=check
[pull]
	rebase=false
[color]
    ui=true
